.content-wpr{
	position: relative;
	display: block;
	width: 990px;
	height: 500px;
	margin: 0 auto;
	padding: 25px;
}
.content-wpr .header{
	border: 1px solid;
}
.content-wpr .header h1{
	margin: 0;
}
.pf{
	border: 1px solid;
}
.footer{
	border: 1px solid;
}
.left{
	border: 1px solid;
}
.right{
	border: 1px solid;
}
.block{
	position: relative;
	display: block;
	width: 145px;
	padding-bottom: 15px;
	min-height: 50px;
	border: 1px solid;
}
.widget,
.widget-block{
	position: relative;
	display: block;
	min-width: 145px;
	min-height: 50px;
	padding: 10px;
}
.widget{
	cursor: pointer;
}
.widget h4,
.widget-block h4{
	text-align: center;
}
.widget-block:hover .widget-close{
	display: block;
}
.widget-close{
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	font-size: 15px;
	line-height: 19px;
	background-color: #FFFFFF;
	text-align: center;
	border: 1px solid;
	border-radius: 15px;
	font-family: sans-serif;
	cursor: pointer;
}
h5{
	margin: 0;
	text-align: center;
	padding: 5px 0;
}
.admin-widgets{
	position: absolute;
	top: 26px;
	right: -145px;
}
.admin-widgets{
	border: 1px solid;
	text-align: center;
}
.prefooter{
	display: flex !important;
}
.prefooter .block{
	flex: 1;
}
.content{
	display: flex !important;
}
.content .block{
}
form textarea{
	width: 100%;
}
.yamap{
	width: 100%;
	height: 250px;
}
img{
	width: 100%;
}
.durl{
	margin: 0 0 10px 0;
}
ul.nav.navbar-nav{
	float: none !important;
}